#login_main_div{
    /* background-color: aquamarine; */
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    /* background-color: bisque; */
    padding-right: 5%;
    padding-left: 5%;
    text-align: center;
    font-size: x-large;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding-bottom: 7%;
}

#login_input{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: large;
}